In [1]:
!uv add pandas sqlalchemy psycopg2 tqdm

Resolved 119 packages in 0.64ms
Audited 10 packages in 0.19ms

In [2]:
import pandas as pd

In [3]:
df_zones = pd.read_csv('https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv')
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [4]:
from sqlalchemy import create_engine
engine=create_engine('postgresql://admin:root@localhost:5432/ny_taxi')
engine

Engine(postgresql://admin:***@localhost:5432/ny_taxi)

In [5]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265

In [6]:
len(df_zones)

265